$sizeCard: 90px;

.listing {
  &__close {
    position: absolute;
    top: 40px;
    right: 15px;
    z-index: 5000;
    button {
      background-color: transparent;
      border: none;
      color: white;
      font-size: 20px;
    }
  }
  &__welcome {
    background-color: #3259d9;
    height: 20vh;
    border-radius: 25px;
    padding: 35px;
    color: white;
    overflow: hidden;
    margin: 20px;
    transition: 0.6s all ease-in-out;
    h1 {
      font-size: 30px;
    }
    p {
      font-weight: 200;
      font-size: 15px;
    }
    &-hide {
      height: 0 !important;
      transition: 0.6s all ease-in-out;
      margin-top: 0;
      margin-bottom: 0;
      h1 {
        margin: 0;
        font-size: 0;
      }
      p {
        margin: 0;
        font-size: 0;
      }
    }
  }
  &__card {
    margin-top: 15px;
    background-color: white;
    border-radius: 15px;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: 0.6s all ease-in-out;
    width: 100%;
    &-status {
      display: flex;
      justify-content: center;
      .on {
        background-color: #7bbb5e;
        width: 15px;
        height: 15px;
        border-radius: 50%;
      }
      .off {
        background-color: #ff6565;
        width: 15px;
        height: 15px;
        border-radius: 50%;
      }
    }
    &-image {
      height: 92px !important;
      width: 25%;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      margin: 0;
      transition: 0.6s all ease-in-out;
      &_expand {
        border-bottom-left-radius: 0px;
      }
    }
    &-content {
      width: 95%;
      margin: auto;
      display: flex;
      flex-direction: column;
    }
    &-description {
      width: 60%;
      margin: 15px;
      h2 {
        font-weight: 200;
        font-size: 20px;
        opacity: 0.6;
        margin: 0;
      }
      p {
        font-weight: 200;
        margin-top: 10px;
        font-size: 12px;
        opacity: 0.6;
      }
    }
    &-header {
      display: flex;
      align-items: center;
    }
    &--joystick {
      height: 0;
      overflow: hidden;
      transition: 0.6s all ease-in-out;
      &_expand {
        position: relative;
        height: 60vh;
        margin-top: 50px;
        transition: 0.6s all ease-in-out;
      }
    }
  }
}
