
.loading {
  &__image {
    height: 110px;
    width: 110px;
  }
  background-color: #3259d9;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Google-sans', sans-serif;
  font-size: 15px;
  text-align: center;
  p {
    opacity: 0.6;
  }
}

#loading_img{
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}