
$backgroundColor: #425EE5;

body {margin: 0; padding: 0; background-color: $backgroundColor; font-family: Google-sans; overflow: hidden}

@font-face {
  font-family: 'Google-sans';
  src: url('./assets/font/GoogleSans-Regular.ttf');
}


/** Modules Scss **/
@import "modules/loading";
@import "modules/listing";
@import "modules/tuto";

/** Animate **/
@import "~vue2-animate/src/sass/vue2-animate.scss";

